html, body{
  margin: 0px;
}
body {
  height: 100%;
  margin: 15px;
  background-color: #2c3e50;
}
nav {
  background-color: #1abc9c;
}

footer {
  background-color: #f1c40f;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  color: #000000;
  font-weight: bold;
}

/* Classes */
.content {
  margin: 15px;
}

.sort {
  background-color: white;
}

.product {
  background-color: white;
}

.poProducts{
  background-color: white;
  padding: 5px;
}

/* ID's */
