ul {
  list-style-type: none;
}

a {
  color: #fff;
}

a:hover {
    color: #f1c40f;
    text-decoration: none;
}

@font-face {
  font-family: Quicksand;
  src: url(Quicksand_Light.otf);
}

/* Classes */

.filter {
  height: 100%;
}

.sort {
  background-color: white;
}

.product {
  background-color: white;
  margin: 10px;
}

.detailbutton {
  background-color: #1abc9c;
  border: 2px solid #1abc9c;
  width: 40%;
  border-radius: 5px;
  float: left;
  margin-left: 10px;
}

.bestelbutton {
  background-color: #1abc9c;
  border: 2px solid #1abc9c;
  width: 40%;
  border-radius: 5px;
  float: right;
  margin-right: 10px
}

