.footer {
  background-color: #f1c40f;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  color: #000000;
  font-weight: bold;
}
